.element-list {
    display: inline-block;
}
  
.element-list img {
    padding: 10px;
    width: 125px;
    height: 125px;
    object-fit: contain
}

.element-list.small img {
    width: 64px;
    height: 64px;
}

.element-list.standard img {
    width: 128px;
    height: 128px;
}
  
.element-list img:hover {
    outline: dashed;
    outline-width: 1px;
}